@media only screen and (max-width: 412px) {
  header {
    padding: 0;
    display: flex;
    height: 80px;
    justify-content: space-between;
  }
  header h2 {
    margin: 0;
  }
  header .nav {
    display: none;
  }
  header .menu-btn {
    display: flex;
    margin-right: 30px;
    opacity: 1;
  }

  /*Home-Section*/
  .home-sec main {
    flex-direction: column;
    margin-left: 0;
    justify-content: center;
    align-items: center; 
  }
  .home-sec .intro-container {
    margin: 10px 40px
  }
  .intro-container h1 {
    font-size: 28px;
    line-height: 1.1;
    margin-bottom: 10px;
  }
  .home-sec .cards-sec {
    grid-template-columns: auto;
    padding: 40px; /*Changed*/
  }
  .home-sec .cards-sec .card  {
    padding: 30px;
  }
  .cards-sec .card:hover {
    transform: scale(1);  /*Changed*/
  }
  .cards-sec .card .r3 {
    line-height: 1.5;
  }
  /*About Section*/
  .about-sec {
    padding: 40px 0;
  }
  .about-sec main {
    margin-bottom: 40px;
  }
  .title h2 {
    margin-bottom: 5px;
    font-size: 28px;
  }
  .about-sec .discription {
    padding: 0 20px;
    flex-direction: column;
    gap: 1rem;
  }
  .about-sec .discription .col1 h5 {
    line-height: 1.1;
    font-size: 15px;
    margin-bottom: 5px;
  }
  .about-sec .discription .col1 > p {
    font-size: 14px;
    line-height: 1;
    margin-bottom: 3px;
  }
  .discription .col1 span {
    font-size: 18px;
  }
  .about-sec .discription .col2 p {
    margin-bottom: 1rem;
    line-height: 1;
    font-size: 15px;
  }
  .about-sec .discription .col2 button {
    font-size: 12px;
    padding: 6px 10px;
    border-width: 1px;
  }
  .about-sec .recognations {
    display: flex;
    padding: 14px 10px;
    overflow-x: auto;
  }
  .about-sec .recognations div {
    min-width: 150px;
    line-height: 1.2px;
  }
  .about-sec .our-work {
    flex-direction: column;
    padding: 40px 20px;
    gap: 1rem;
  }
  .our-work .discription-container h3 {
    font-size: 18px;
    line-height: 1;
    margin-bottom: 3px;
  }
  .our-work .discription-container .content-para {
    margin: 5px 0;
    gap: 2px;
  }
  .our-work .discription-container .content-para p {
    line-height: 1;
    font-size: 14px;
  }
  .our-work .discription-container .content-para span {
    font-size: 18px;
    margin-right: 0;
  }
  .our-work .discription-container .last-para {
    line-height: 1.1;
    font-size: 14px;
  }
  .about-sec .clients {
    display: flex;
    padding: 20px 7px;
    overflow: auto;
  }
  .about-sec .clients .image-container {
    width: 80px;
  }
  .about-sec .testimonial-sec {
    padding: 40px 20px 0px;
  }
  .testimonial-sec .title h3 {
    font-size: 28px;
    margin-bottom: 3px;
  }
  .testimonial-sec .title p {
    line-height: 1.1;
    font-size: 1rem;
  }
  .testimonial-sec .people {
    grid-template-columns: auto;
    gap: 50px;
  }
  .testimonial-sec .people .col:hover {
  transform: scale(1.01);
  }
  /*Services Section*/
  .services-sec .title {
    padding: 50px 10px;
  }
  .services-sec .card-sec{
    grid-template-columns: auto;
    padding: 0 20px 50px;
  }
  .services-sec .blue-row {
    padding: 50px 20px;
  }
  /*Portfolio Section*/
  .portfolio-sec {
    padding: 50px 0;
  }
  .portfolio-sec .img-grid {
    grid-template-columns: auto;
  }
  .portfolio-sec .img-grid .col1 {
    grid-template-rows: 2fr 4fr;
  }
  /*Team Section*/
  .team-sec {
    padding: 50px 20px;
  }
  .team-sec .card-sec {
    grid-template-columns: auto;
    padding: 50px 0;
  }
  .team-sec .card-sec .card .profile-container {
    height: 300px;
  }
  /*Pricing Section*/
  .pricing-sec {
    padding: 50px 20px;
  }
  .pricing-sec .card-sec {
    grid-template-columns: auto;
  }
  /*FAQ section*/
  .faq-sec .title {
    padding: 0 20px 50px;  
  }
  .faq-sec main {
    padding: 0 20px 30px;
  }
  /*Contact-Section*/
  .contact-sec {
    padding: 50px 20px;
  }
  .contact-sec .map-area {
    height: 200px;
  }
  .contact-sec main {
    display: block;
  }
  .contact-sec main form {
    padding-top: 50px;
  }
  .contact-sec main .form-area,
  .contact-sec main .form-area .row1 {
    gap: 10px;
  }
  /*Footer Section*/
  footer .info-sec {
    padding: 50px 20px;
    flex-direction: column;
    gap: 40px;
  }
  footer .info-sec .middle-col {
    flex-direction: column;
    gap: 30px;
  }
  footer .author-row {
    padding: 30px 20px;
    gap: 15px;
    flex-direction: column;
  }
  footer .author-row .left-sec {
    font-size: 14px;
  }
  footer .author-row .left-sec .line1 {
    margin-bottom: 5px;
  }
  footer .author-row .right-sec {
    gap: 8px2;
  }
  footer .author-row .right-sec div,
  footer .refresh {
    width: 28px;
    height: 28px;
    font-size: 14px;
  }
  footer .refresh a {
    font-size: 14px;
  }
}